*.iml
*.ipr
*.iws
*.log
*.log.*

.gradle/
.idea/
.vscode/

node_modules/
src/main/resources/static/script/lib/
build/
snapshoot/
/*.properties
/src/*/resources/application-*.properties
/src/*/resources/application-*.yml
/src/*/resources/messages.properties
/src/*/resources/*_zh_CN.properties

src/main/java/com/hpe/GitVer.java
src/main/resources/static/css/mgr/manager.css
src/main/resources/static/css/mgr/manager.css.map
src/main/resources/static/testInte/config-dev.js